*.pyc
__pycache__/
.env
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
.eggs/
dist/
build/
*.so
*.log
*.pot
*.mo
*.swp
*.swo
*.swn
*.bak
*.tmp
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.vscode/
.idea/
*.DS_Store
Thumbs.db
trainings.csv

